@import "tailwindcss";


/* Teal Brand Colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-25: 246 254 252;
  --brand-50: 240 253 249;
  --brand-100: 204 251 239;
  --brand-200: 153 246 224;
  --brand-300: 95 233 208;
  --brand-400: 46 211 183;
  --brand-500: 21 183 158;
  --brand-600: 14 147 132;
  --brand-700: 16 117 105;
  --brand-800: 18 93 86;
  --brand-900: 19 78 72;
  --brand-950: 10 41 38;
}

/* blue brand colors */
html.theme-light-blue {
  --brand-25: 245 251 255;
  --brand-50: 240 249 255;
  --brand-100: 224 242 254;
  --brand-200: 185 230 254;
  --brand-300: 124 212 253;
  --brand-400: 54 191 250;
  --brand-500: 11 165 236;
  --brand-600: 0 134 201;
  --brand-700: 2 106 162;
  --brand-800: 6 89 134;
  --brand-900: 11 74 111;
  --brand-950: 6 44 65;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar but keep functionality */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Chrome, Safari and Opera */
  }
}

/* Hide video controls */
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
}

video::-webkit-media-controls-timeline {
  display: none !important;
}

video::-webkit-media-controls-current-time-display {
  display: none !important;
}

video::-webkit-media-controls-time-remaining-display {
  display: none !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
}

video::-webkit-media-controls-volume-slider {
  display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
